@page
@model MVCmovie.Views.HellowWorld.WelcomeModel
<h2>Welcome</h2>
@{
//ViewData["Title"] = "Welcome";
}
<ul>
    @for (int i = 0; i < (int)ViewData["age"]; i++)
    {
        <li>@ViewData["message"]</li>
    }
</ul>